.form {
    display: flex;
    flex-direction: column;
    border: 1px solid 	#fff;
    background-color: 	#D2691E;
    color: #fff;
    width: 40%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 15px 15px 15px #000;
    

    input, select {
        font-family: "Raleway", sans-serif;
        padding: 5px;
        margin: 5px;
    }
    .submit {
        padding: 5px;
        font-size: 16px;
        &:hover{
            transition: .5s;
            background-color: #660000;
            color: #fff;
            font-size: 20px;
        }
    }
}

