@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:wght@400;700&display=swap&family=Shojumaru&display=swap');
@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';


// Gérer breakpoints


body {
    font-family: "Berkshire Swash", cursive;
    background-color: $fond-marron;
}

#root {
    @extend %flex-center;
    flex-direction: column;
}

h1 {
    color: 	$dore;
    text-shadow: 0 5px 5px #000;
    font-size: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Shojumaru';
    font-size: 22px;
    border: 1px solid 	#fff;
    background-color: $fond-form-orange;
    color: #fff;
    width: 40%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 15px 15px 15px #000;

        input, #hero {
            text-align: center;
            font-family: "Shojumaru", sans-serif;
            font-size: 18px;
            padding: 5px;
            margin: 5px;
        }
    
    .btn {
        @extend %baston-buttons;
    }
    
}

