@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:wght@400;700&display=swap&family=Shojumaru&display=swap');
@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';

// Gérer breakpoints

p {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
}
h2 {
    color: 	$dore;
    text-shadow: 0 5px 5px #000;
    font-size: 30px;
}

form {
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 1px solid 	#fff;
    background-color: $fond-form-orange;
    color: #fff;
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 15px 15px 15px #000;

    h3 {
        color: 	$dore;
        text-shadow: 0 5px 5px #000;
        font-size: 26px;
    }
        .stats-def, .stats-atk{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input, select {
                font-family: "Raleway", sans-serif;
                padding: 5px;
                margin: 5px;
            }
        }

        p {
            margin: 0;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
    .btn {
        @extend %baston-buttons;
    }
    .backbtn:hover {
        background-color: #660000;
    }
}
